html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: Work Sans, Arial;
/*   font-size: 10px; */
  background-color: #fff6ec;
}

#banner {
  color: white;
  background-image: linear-gradient(red, purple, blue);
  opacity: 0.7;
  padding: 10px;
  text-align: center;
}

#banner h1 {
  font-family: 'Courier Prime', monospace;
  font-size: 48px;
}

nav {
  background-color: #fff6ec !important;
  border: 1px solid black;
  box-shadow: none;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul a {
  color: black;
  font-size: 24px;
  margin-left: 20px;
  margin-right: 20px;
}

.sidenav li>a {
  font-size: 20px;
}

main {
  margin-left: 20px;
}

.blue-font {
  color: #4472C4;
}

.red-font {
  color: #d13d3d;
}

#menu-btn {
  opacity: 0.7;
  margin: 10px;
}

.sidenav ul a {
  font-size: 32px !important;
}