/* style for letterstouncledavid.com  */
/* design by iwishwehadmoretime.com */

html, body {
  background-color: #fff6ec;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: 'Courier Prime', 'Cutive Mono', Courier;
/*   font-size: 10px; */
}

/* keeps footer at bottom  */
article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.responsive {
  width: 100%;
  height: auto;
}

/* BANNER ============================================= */

#banner {
  color: #f3ebe1;
  background: rgb(0,112,192);
background: linear-gradient(0deg, rgba(0,112,192,1) 0%, rgba(43,103,176,1) 11%, rgba(69,97,176,1) 23%, rgba(95,79,176,1) 40%, rgba(118,63,185,1) 53%, rgba(135,64,144,1) 65%, rgba(164,49,80,1) 78%, rgba(198,32,32,1) 88%, rgba(255,0,0,1) 100%);
/*   opacity: 0.9; */
  padding: 10px;
  text-align: center;
}

#banner h1 {
  font-size: 48px;
  font-weight: 200;
}

/* NAV ================================================ */

nav {
  background-color: #f3ebe1 !important;
/*   border-bottom: 2px solid white; */
  box-shadow: none;
  height: 56px;
  line-height: 56px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  transition: 
    background-color 500ms linear, 
    color 500ms linear,
    border 500ms linear;
}
  
nav ul li:hover {
  color: #f3ebe1 !important;
  background-color: rgb(0,112,192);
  transition: none;
}

nav ul a {
  color: black;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  letter-spacing: 4px;
  transition: none;
}

nav ul a:hover {
  color: #f3ebe1;
  background-color: rgb(0,112,192);
}

.sidenav {
  width: 350px;
  background-color: #fff6ec;
}

.sidenav li>a {
  font-size: 20px;
  letter-spacing: 4px;
}

.user-view {
  height: 200px;
}

.sidenav img {
  max-height: 100%;
  height: auto;
}

.sidenav ul a {
  font-size: 32px !important;
}


/* MAIN =================================================== */
main {
  margin-left: 5vw;
  margin-right: 5vw;
}

main h1 {
  display: inline-block;
}

main h2 {
  font-size: 40px;
}

main p {
  font-size: 18px;
}

main p a {
  color: rgb(0,112,192);
}

main p a:hover {
  font-weight: bold;
}

main .btn {
  display: inline-block;
  font-size: 20px !important;
}

#menu-btn {
  margin: 15px -3vw 15px 15px;
/*   opacity: 0.9; */
  height: 48px;
  width: 96px;
  color: black;
  border: 2px solid black;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  line-height: 48px;
  transition: 
    background-color 500ms linear, 
    color 500ms linear;
}

#menu-btn:hover {
  color: #fff6ec;
  background-color: rgb(0,112,192);
}

/*  FOOTER ===========================================  */

footer .row {
  background-color: #ede4da;
  margin-bottom: 0px !important;
  padding-bottom: 20px;
}

footer .col {
/*   border: 1px solid white; */
  padding: 20px;
}

footer a {
  color: black;
  position: relative;
}

footer a:hover {
  color: rgb(0,112,192);  
}

footer h5 {
  font-size: 20px !important;
  letter-spacing: 4px;
}

#footer-logo {
  width: 100px;
  height: auto;
  margin: auto;
  border-radius: 50%;
}

.social-icons {
  display:inline-block;
  width: 40px;
  height: auto;
  margin: 20px;
}

.hide {
  display: none;
}